<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change password</title>
</head>
<body>
    <h1>change password</h1>
    <form method="post" action="/">
        <label for="new-password">new password </label>
        <input type="text" id="new-password" name="pass"><br>
        <input type="submit" value="change" onclick="alertpass()">
    </form>
    <script>
        function alertpass() {
            alert("password changed!");
        }
    </script>

</body>
</html>