<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login page</title>
</head>
<body>
{{if .}}
<p><strong>invalid username or password!</strong></p><br>
{{end}}
<div class="wrapper">
	<form target="/" method="post", enctype="multipart/form-data">
		<h2>Login</h2>
		<input type="text" name="user" placeholder="Email Address" required="" autofocus="" />
		<input type="password" name="pass" placeholder="Password" required=""/>
		<label>
			<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
		</label>
		<input type="submit" value="Login"></form>
	</form>

</div>
</body>
</html>