<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>panel</title>
</head>
<body>
    {{if .}}
        <h1>Welcome <strong>{{.User}}</strong></h1><br>
            <strong>Last seen: {{.LastSeen}}</strong><br>
            <h3>Panel</h3>
            <ul>
                <li><a href="/changePass">Change password</a></li>
                <li><a href="/show/gopher.png">Show gopher</a></li>
                <li><a href="/files/">Files</a></li>
            </ul>
            <form method="post" action="/show" target="_blank" enctype="multipart/form-data">
                <label for="file">upload a file</label>
                <input type="file" id="file" name="file">
                <input type="submit" value="upload">
            </form>
    {{end}}


</body>
</html>